.ab-test-14 .footer-buttons-bottom {
  bottom: 59px;
}
.ab-test-14 .page-footer {
  margin-bottom: 61px;
}
.ab-test-14 .header-buttons.buttons-mobile {
  position: fixed;
  bottom: 0;
  background-color: #E9E9E9;
  padding-top: 10px;
  gap: 7px;
  padding-bottom: 2px;
  z-index: -1;
  padding-left: 10.5px !important;
  padding-right: 10.5px !important;
  flex-wrap: wrap;
}
.ab-test-14 .header-buttons.buttons-mobile .wrap-div-1,
.ab-test-14 .header-buttons.buttons-mobile .wrap-div-2 {
  width: calc(50% - 4px) !important;
}
.ab-test-14 .header-buttons.buttons-mobile button {
  padding: 3px 21px !important;
}
.ab-test-14 .header-buttons.buttons-mobile button,
.ab-test-14 .header-buttons.buttons-mobile a {
  margin: 0 !important;
  width: 100% !important;
  color: #1A2B49 !important;
}
.ab-test-14 .wrap-div-2 .ab-test-14-link {
  background-color: #fff;
  border-color: #66CC00 !important;
}
.ab-test-14 .wrap-helper-text {
  font-size: 10px;
  line-height: 20px;
  color: #595C5F;
  text-align: center;
  margin: 0;
}