html {
  position: relative;
}
html::before {
  content: "AB test pilot CSS";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
  background: #ff0000;
  color: #ffffff;
  padding: 10px;
  border: 7px solid #269b11;
}

.ab--pilot-test-details-ui-opener {
  bottom: 105px !important;
}

.sticky-footer-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 25px);
  height: 40px;
  background-color: #DEEFFF;
  padding: 12px;
  z-index: 99999999999;
}

.sticky-footer-banner .sticky-footer-banner__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-footer-banner .sticky-footer-banner__content h4 {
  font-size: 16px;
  text-align: center;
  color: #333333;
}

.sticky-footer-banner .sticky-footer-banner__content h4 .title {
  margin-bottom: 0;
  display: inline;
}

.sticky-footer-banner .sticky-footer-banner__content h4 a {
  text-decoration: underline;
  margin: 0 3px;
}

.sticky-footer-banner .sticky-footer-banner__content h4 .subtitle {
  margin-bottom: 0;
  font-family: TESCOModern-Regular;
  display: inline;
}

.sticky-footer-banner .sticky-footer-banner__content .sticky-footer-banner__content__close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.sticky-footer-banner .sticky-footer-banner__content .sticky-footer-banner__content__close svg {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .sticky-footer-banner .sticky-footer-banner__content {
    justify-content: space-between;
    height: 100%;
    gap: 12px;
  }
  .sticky-footer-banner .sticky-footer-banner__content h4 {
    line-height: 20px;
    padding-left: 4px;
  }
  .sticky-footer-banner .sticky-footer-banner__content .sticky-footer-banner__content__close {
    position: static;
    transform: none;
  }
}