.MVT-85-Var_C #booking-widget #booking-widget-desktop-form > div:nth-child(2) > div > div:nth-child(2) {
  align-items: start;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form > div:nth-child(2) > div > div:nth-child(1) {
  align-items: start;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form [data-testid=drivers-age-dropdown] #mui-component-select-ageSelect {
  font-weight: 500;
  color: #000;
  font-size: 14px !important;
  padding-right: 4px !important;
}
.MVT-85-Var_C .mvt-85-age-wrapper,
.MVT-85-Var_C .mvt-85-wizard-wrapper,
.MVT-85-Var_C .mvt-85-discount-wrapper {
  margin-bottom: 0 !important;
}
.MVT-85-Var_C .mvt-85-age-wrapper .mvt-85-top-row,
.MVT-85-Var_C .mvt-85-wizard-wrapper .mvt-85-top-row,
.MVT-85-Var_C .mvt-85-discount-wrapper .mvt-85-top-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 1250px) {
  .MVT-85-Var_C .mvt-85-age-wrapper .mvt-85-top-row,
  .MVT-85-Var_C .mvt-85-wizard-wrapper .mvt-85-top-row,
  .MVT-85-Var_C .mvt-85-discount-wrapper .mvt-85-top-row {
    align-items: start;
  }
  .MVT-85-Var_C .mvt-85-age-wrapper .mvt-85-top-row #ageCheckbox,
  .MVT-85-Var_C .mvt-85-wizard-wrapper .mvt-85-top-row #ageCheckbox,
  .MVT-85-Var_C .mvt-85-discount-wrapper .mvt-85-top-row #ageCheckbox {
    margin-top: 2px !important;
  }
}
.MVT-85-Var_C .mvt-85-age-wrapper input.mvt-85-checkbox,
.MVT-85-Var_C .mvt-85-wizard-wrapper input.mvt-85-checkbox,
.MVT-85-Var_C .mvt-85-discount-wrapper input.mvt-85-checkbox {
  margin: 0 !important;
  cursor: pointer;
  flex-shrink: 0;
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
}
.MVT-85-Var_C .mvt-85-age-wrapper input.mvt-85-checkbox:checked,
.MVT-85-Var_C .mvt-85-wizard-wrapper input.mvt-85-checkbox:checked,
.MVT-85-Var_C .mvt-85-discount-wrapper input.mvt-85-checkbox:checked {
  background-color: #000;
  padding: 4px;
}
.MVT-85-Var_C .mvt-85-age-wrapper input.mvt-85-checkbox:checked::after,
.MVT-85-Var_C .mvt-85-wizard-wrapper input.mvt-85-checkbox:checked::after,
.MVT-85-Var_C .mvt-85-discount-wrapper input.mvt-85-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg);
}
.MVT-85-Var_C .mvt-85-age-wrapper svg.MuiSvgIcon-root,
.MVT-85-Var_C .mvt-85-wizard-wrapper svg.MuiSvgIcon-root,
.MVT-85-Var_C .mvt-85-discount-wrapper svg.MuiSvgIcon-root {
  display: none;
}
.MVT-85-Var_C .mvt-85-age-wrapper .mvt-85-tooltip {
  position: relative;
  display: inline-flex;
}
.MVT-85-Var_C .mvt-85-age-wrapper .mvt-85-tooltip:hover .mvt-85-tooltip-text {
  visibility: visible;
  opacity: 1;
}
.MVT-85-Var_C .mvt-85-age-wrapper .mvt-85-tooltip .mvt-85-info-icon {
  cursor: pointer;
}
.MVT-85-Var_C .mvt-85-age-wrapper .mvt-85-tooltip .mvt-85-info-icon:hover path {
  fill: #000;
}
.MVT-85-Var_C .mvt-85-age-wrapper .mvt-85-tooltip-text {
  position: absolute;
  top: 22px;
  left: 6.5px;
  transform: translateX(-50%);
  width: 275px;
  max-width: 300px;
  background-color: rgba(57, 54, 54, 0.92);
  color: rgb(255, 255, 255);
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  z-index: 9999;
  pointer-events: none;
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-wrap: auto;
}
.MVT-85-Var_C .mvt-85-age-wrapper .mvt-85-tooltip-text::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #4b4545;
}
@media (max-width: 1250px) {
  .MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-residency-wrapper .mvt-85-top-row #residencyCheckbox {
    margin-top: 2px !important;
  }
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-residency-wrapper [data-testid=residency-dropdown-button] span {
  color: #000;
  font-weight: 500;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-residency-wrapper .mvt-85-tooltip {
  position: relative;
  display: inline-flex;
  margin-left: 5px;
  pointer-events: auto;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-residency-wrapper .mvt-85-tooltip:hover .mvt-85-tooltip-text {
  visibility: visible;
  opacity: 1;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-residency-wrapper .mvt-85-tooltip .mvt-85-info-icon {
  cursor: pointer;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-residency-wrapper .mvt-85-tooltip .mvt-85-info-icon:hover path {
  fill: #000;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-residency-wrapper .mvt-85-tooltip-text {
  position: absolute;
  top: 22px;
  left: 6.5px;
  transform: translateX(-50%);
  width: 275px;
  max-width: 300px;
  background-color: rgba(57, 54, 54, 0.92);
  color: rgb(255, 255, 255) !important;
  font-size: 0.6875rem !important;
  font-weight: 500;
  line-height: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  z-index: 9999;
  pointer-events: none;
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-wrap: auto;
  text-align: left !important;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-residency-wrapper .mvt-85-tooltip-text::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #4b4545;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form [data-testid=residency-dropdown-button] span:not(.mvt-85-tooltip-text) {
  font-size: 14px !important;
}
.MVT-85-Var_C .mvt-85-extra-labels-container {
  display: flex;
  gap: 48px;
}
.MVT-85-Var_C .mvt-85-extra-labels-container .mvt-85-age-label {
  margin-bottom: 0 !important;
  font-size: 12px;
  pointer-events: none;
  user-select: none;
  letter-spacing: 0.036px;
  margin-left: 25px;
  min-width: 80px;
}
.MVT-85-Var_C .mvt-85-extra-labels-container .mvt-85-residency-label {
  margin-left: 27px;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form [data-testid=wizard-number-popup-trigger-button] p {
  color: #000;
  font-weight: 500;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form [data-testid=discount-coupon-popup-trigger-button] p:not(.mui-1i5m7g4) {
  font-size: 14px !important;
  font-weight: 500;
  color: #000;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form [data-testid=residency-dropdown-menu-container]:last-child > div {
  background-color: #fff !important;
  border-radius: 0 0 4px 4px !important;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-wizard-wrapper {
  margin-left: auto;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-wizard-wrapper .mvt-85-top-row {
  align-items: start !important;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-wizard-wrapper .mvt-85-top-row #wizardCheckbox {
  margin-top: 2px !important;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-wizard-wrapper .wizard-applied-label {
  cursor: pointer;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-wizard-wrapper .mvt-85-wizard-applied-text {
  display: flex;
  align-items: center;
  gap: 4px;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-wizard-wrapper .mvt-85-wizard-applied-text p {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: #46791D;
  letter-spacing: 0.036px;
  line-height: 28px;
  text-decoration: underline;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-wizard-wrapper .mvt-85-tooltip {
  position: relative;
  display: inline-flex;
  margin-left: 5px;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-wizard-wrapper .mvt-85-tooltip:hover .mvt-85-tooltip-text {
  visibility: visible;
  opacity: 1;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-wizard-wrapper .mvt-85-tooltip .mvt-85-info-icon {
  cursor: pointer;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-wizard-wrapper .mvt-85-tooltip .mvt-85-info-icon:hover path {
  fill: #000;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-wizard-wrapper .mvt-85-tooltip-text {
  position: absolute;
  top: 26px;
  left: 6.5px;
  transform: translateX(-50%);
  width: 275px;
  max-width: 300px;
  background-color: rgba(57, 54, 54, 0.92);
  color: rgb(255, 255, 255) !important;
  font-size: 0.6875rem !important;
  font-weight: 500;
  line-height: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  z-index: 9999;
  pointer-events: none;
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-wrap: auto;
  text-align: left !important;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-wizard-wrapper .mvt-85-tooltip-text::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #4b4545;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form [data-testid=discount-coupon-popup-trigger-button] svg:not(.mvt-85-info-icon) {
  display: none;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-discount-wrapper .mvt-85-top-row #discountCheckbox {
  margin-top: 2px !important;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-discount-wrapper .mvt-85-add-discount-text {
  margin: 0;
  margin-top: 2px;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-discount-wrapper .mvt-85-discount-applied-text {
  display: flex;
  align-items: center;
  gap: 4px;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-discount-wrapper .mvt-85-discount-applied-text p {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: #46791D;
  letter-spacing: 0.036px;
  line-height: 28px;
  text-decoration: underline;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-discount-wrapper .mvt-85-tooltip {
  position: relative;
  display: inline-flex;
  margin-left: 5px;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-discount-wrapper .mvt-85-tooltip:hover .mvt-85-tooltip-text {
  visibility: visible;
  opacity: 1;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-discount-wrapper .mvt-85-tooltip .mvt-85-info-icon {
  cursor: pointer;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-discount-wrapper .mvt-85-tooltip .mvt-85-info-icon:hover path {
  fill: #000;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-discount-wrapper .mvt-85-tooltip-text {
  position: absolute;
  top: 26px;
  left: 6.5px;
  transform: translateX(-50%);
  width: 275px;
  max-width: 300px;
  background-color: rgba(57, 54, 54, 0.92);
  color: rgb(255, 255, 255) !important;
  font-size: 0.6875rem !important;
  font-weight: 500;
  line-height: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  z-index: 9999;
  pointer-events: none;
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-wrap: auto;
  text-align: left !important;
}
.MVT-85-Var_C #booking-widget #booking-widget-desktop-form .mvt-85-discount-wrapper .mvt-85-tooltip-text::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #4b4545;
}