.ab-test-14 .footer-buttons-bottom {
  bottom: 55px;
}
.ab-test-14 .header-buttons.buttons-mobile {
  position: fixed;
  bottom: 0;
  background-color: #E9E9E9;
  padding-top: 10px;
  padding-bottom: 20px;
  gap: 7px;
}
.ab-test-14 .header-buttons.buttons-mobile button,
.ab-test-14 .header-buttons.buttons-mobile a {
  margin: 0 !important;
}
.ab-test-14 .header-buttons.buttons-mobile a {
  background-color: #fff;
}