.ab-option-wrapper .select-trigger {
  display: none !important;
}

.ab-option-wrapper .select-options {
  display: flex;
  gap: 12px;
  overflow-y: auto;
  position: static !important;
  margin-left: 6px;
}

.ab-option-wrapper.active .select-options {
  display: flex !important;
}

.ab-option-wrapper .select-options .select-option {
  align-items: center !important;
  padding: 0 !important;
  font-size: 13px;
  font-family: "Libre Franklin", sans-serif;
  height: 45px !important;
  width: 108px !important;
  line-height: 13px;
  letter-spacing: 0;
  border: 1px solid #C4C2C3;
}

.ab-option-wrapper .select-options .select-option.disabled {
  display: flex !important;
  text-decoration: line-through;
  color: #71767A !important;
  cursor: not-allowed !important;
  background-color: #F4F4F4 !important;
  border: 1px solid #C4C2C3 !important;
  font-weight: 400 !important;
}

.ab-option-wrapper .select-options .select-option.disabled:hover {
  background-color: #F4F4F4 !important;
  border-color: #C4C2C3 !important;
  color: #71767A !important;
  font-weight: 400 !important;
}

.ab-option-wrapper .select-options .select-option:hover,
.ab-option-wrapper .select-options .select-option[data-reset=true] {
  background-color: var(--brand-color-bg);
  border-color: var(--brand-color-bg);
  color: var(--brand-color-bg-text);
  font-weight: 700;
}

.ab-checkbox-wrapper {
  margin-left: 6px;
}

.ab-checkbox-wrapper .select-list__item {
  padding-right: 12px !important;
  padding-bottom: 12px !important;
  width: auto !important;
}

.ab-checkbox-wrapper .select-list__item input {
  display: none !important;
}

.ab-checkbox-wrapper .select-list__item label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  font-family: "Libre Franklin", sans-serif;
  height: 45px !important;
  width: 108px !important;
  line-height: 13px;
  letter-spacing: 0;
  justify-content: center;
  border: 1px solid #C4C2C3;
  cursor: pointer;
}

.ab-checkbox-wrapper .select-list__item label:hover,
.ab-checkbox-wrapper .select-list__item:has(input:checked) label,
.ab-checkbox-wrapper .select-list__item:has(input[checked]) label {
  background-color: var(--brand-color-bg);
  border-color: var(--brand-color-bg);
  color: var(--brand-color-bg-text);
  font-weight: 700;
}

.ab-checkbox-wrapper .select-list__item:has(input[disabled]) label {
  text-decoration: line-through;
  color: #71767A !important;
  cursor: not-allowed !important;
  background-color: #F4F4F4 !important;
  border: 1px solid #C4C2C3 !important;
  font-weight: 400 !important;
}

.ab-checkbox-wrapper .select-list__item:has(input[disabled]) label:hover {
  background-color: #F4F4F4 !important;
  border-color: #C4C2C3 !important;
  color: #71767A !important;
  font-weight: 400 !important;
}