.acima-section {
  display: flex;
  gap: 45px;
}

.acima-section .acima-section-left {
  background-color: #F9F9F9;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.acima-section .acima-section-left .acima-section-left-content {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2em;
  letter-spacing: -1%;
  text-decoration-thickness: 0%;
  color: #424242;
}

.acima-section .acima-section-left .acima-section-left-content a {
  text-decoration: underline;
}

.acima-section .acima-section-right {
  width: 50%;
}

.acima-section .affirm-as-low-as-wrap {
  padding-left: 0;
}

.acima-section .affirm-as-low-as-wrap p {
  border-top: 0 !important;
}

@media (max-width: 1440px) {
  .acima-section {
    gap: 20px;
  }
  .acima-section .acima-section-left {
    justify-content: left;
  }
}
@media (max-width: 1024px) {
  .acima-section {
    flex-direction: column;
    gap: 12px;
  }
  .acima-section .acima-section-right, .acima-section .acima-section-left {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .acima-section {
    gap: 6px;
  }
  .acima-section .acima-section-right, .acima-section .acima-section-left {
    width: 100%;
  }
}