.BBX-218 [itemprop=offers] > :nth-child(6) {
  margin-bottom: 20px !important;
}
.BBX-218 [itemprop=offers] > .esbb-shipping-payment-area-below-wishlist {
  display: none;
}
.BBX-218 [itemprop=offers] > :nth-child(8) {
  border-bottom: 1px solid #F5F5F4;
  padding-bottom: 12px;
  margin-top: 0px !important;
  color: #494949;
  gap: 12px !important;
  align-items: center;
}
.BBX-218 [itemprop=offers] > :nth-child(8) > img {
  width: 54px !important;
  height: 14px !important;
}
.BBX-218 [itemprop=offers] > :nth-child(8) > span {
  font-size: 16px !important;
  font-weight: 400;
  left: 0 !important;
}
.BBX-218 [itemprop=offers] > :nth-child(9) + div {
  justify-content: start !important;
  gap: 26px !important;
  margin: 0 !important;
  padding-top: 12px !important;
}
.BBX-218 [itemprop=offers] > :nth-child(9) + div > span {
  font-size: 16px !important;
  font-weight: 400;
}
.BBX-218 [itemprop=offers] > :nth-child(9) + div > img {
  width: 40px !important;
  height: 40px !important;
}
.BBX-218 [itemprop=offers] > :nth-child(8) + div:not(.esbb-shallow-hint) {
  order: 4 !important;
  border-bottom: 0 !important;
}
@media screen and (max-width: 1024px) {
  .BBX-218 [itemprop=offers] > :nth-child(8) > img {
    width: 35px !important;
    height: 9px !important;
  }
  .BBX-218 [itemprop=offers] > :nth-child(8) > span.esbb-pp-pay-later-hint-text {
    font-size: 14px !important;
    left: 0 !important;
  }
  .BBX-218 [itemprop=offers] > :nth-child(9) + div {
    gap: 19px !important;
  }
  .BBX-218 [itemprop=offers] > :nth-child(9) + div > span {
    font-size: 14px !important;
  }
  .BBX-218 [itemprop=offers] > :nth-child(9) + div > img {
    width: 28px !important;
    height: 28px !important;
  }
}