.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=drivers-age-dropdown] {
  color: #000;
  font-weight: 700;
}
.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=drivers-age-dropdown] svg {
  width: 12px;
  height: 12px;
  top: 6px;
  right: -8px !important;
  color: #524D4D;
}
.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=drivers-age-dropdown] #mui-component-select-ageSelect {
  font-size: 14px !important;
}
.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=residency-dropdown-button] {
  color: #000;
  font-weight: 700;
  margin-left: 8px;
}
.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=residency-dropdown-button] span.MuiButton-icon {
  margin-left: 10px;
}
.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=residency-dropdown-button] svg {
  width: 12px;
  height: 12px;
  color: #524D4D;
}
.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=residency-dropdown-button] span {
  font-size: 14px !important;
}
.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=wizard-number-popup-trigger-button] p:not(.mui-1i5m7g4),
.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=discount-coupon-popup-trigger-button] p:not(.mui-1i5m7g4) {
  color: #000;
  font-weight: 700;
  font-size: 14px !important;
  margin-right: 2px;
}
.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=wizard-number-popup-trigger-button] p.mui-1i5m7g4,
.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=discount-coupon-popup-trigger-button] p.mui-1i5m7g4 {
  font-size: 14px !important;
}
.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=wizard-number-popup-trigger-button] svg,
.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=discount-coupon-popup-trigger-button] svg {
  width: 16px;
  height: 16px;
  color: #736D6D;
}
.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=wizard-number-popup-trigger-button] div,
.MVT-85-Var_B #booking-widget #booking-widget-desktop-form [data-testid=discount-coupon-popup-trigger-button] div {
  margin-left: 5px;
}
.MVT-85-Var_B [data-testid=residency-dropdown-menu-container] div:nth-child(2) > div {
  background-color: #fff !important;
}