html {
  position: relative;
}
html::before {
  content: "AB test pilot CSS";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
  background: #ff0000;
  color: #ffffff;
  padding: 10px;
  border: 7px solid #269b11;
}

.banner-section {
  grid-column: 1/-1 !important;
  overflow: hidden !important;
  position: relative;
}
.banner-section .banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.banner-section .banner-wrapper {
  position: absolute;
  top: 0;
  left: 200px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-section .banner-content {
  color: #fff;
}
.banner-section .banner-content h3 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: 100;
}
.banner-section .banner-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
}