.upgrade-section {
  padding: 20px;
}

.upgrade-section .upgrade-section-content {
  background-color: #F0EBEB;
  border: 2px solid #00539F;
  border-radius: 6px;
  padding: 20px;
  font-size: 20px;
  line-height: 24px;
  color: #666666;
}

.upgrade-section .upgrade-section-content a {
  color: #00539F;
  text-decoration: underline;
  font-family: "TESCOModern-bold", sans-serif;
}