.ab-test-14 {
  .footer-buttons-bottom{
    bottom: 59px;
  }
  .header-buttons.buttons-mobile {
    position: fixed;
    bottom: 0;
    background-color: #E9E9E9;
    padding-top: 10px;
    gap: 7px;
    padding-bottom: 2px;

    button,
    a{
      margin: 0 !important;
    }
  }

  .wrap-div-2 .ab-test-14-link {
    background-color: #fff;
  }

  .wrap-helper-text{
    font-size: 10px;
    line-height: 20px;
    color: #595C5F;
    text-align: center;
    margin: 0;
  }
}