/* ============= OFFER SECTION STYLE ==============*/
.promo-section {
  background: #fff;
  margin: 0 -12px 20px;
  padding: 0 12px;
}
.promo-section .promo-section-content{
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #e5e5e5;
  padding: 20px 0;
}
.promo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-item-content {
  color: #00539F;
  font-size: 14px;
}

.promo-item-img {
  height: 28px;
    width: 28px;
}

.promo-img-group {
  display: flex;
  align-items: center;
  gap: 6px;
}

.promo-group-img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.promo-more-count {
  font-size: 12px;
  font-weight: 500;
  color: #333;
  margin-top: 5px;
}

.promo-item-img-group {
  display: flex;
  gap: 4px;
}

.product-info-main .cc-savings .clubcard-stripe {
  min-width: 0px;
  margin: 0px;
}
.custom-sidebar-content {
  margin-top: 20px;
}

.custom-sidebar-accordion {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 10px;
}

.custom-sidebar-accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.custom-sidebar-accordion-icon {
  transition: transform 0.3s ease;
}

.custom-sidebar-accordion-title {
  font-size: 18px;
  color: #00539F;
  font-weight: 600;
}

.custom-sidebar-accordion-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cust-sidebar-accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}

.custom-sidebar-accordion-content-text {
  color: #666666;
}

.custom-sidebar-accordion-content-inner {
  padding: 8px 0;
}

/* ============= SELECT SECTION STYLE ==============*/
.payment-select-wrapper {
  width: 100%;
  margin-top: 8px;
}

.payment-select {
  width: 100%;
  max-width: 100%;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #666666;
  border-radius: 0;
}
.payment-select:focus {
  padding: 0px 40px 0px 10px !important;
}

.custom-color-storage-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0;
}
.custom-color,
.custom-storage {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.custom-storage{
  margin-bottom: 30px;
}

.custom-color-title,
.custom-storage-title {
  color: #575252;
  font-family: 'TESCOModern-Bold',Tahoma,sans-serif;
  font-size: 16px;
}
.custom-color-blocks{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.custom-color-block{
  border-radius: 8px;
  padding: 2px;
  border: 2px solid transparent;
}
.custom-color-block.selected{
  border: 2px solid #00539F;
}
.custom-color-block .custom-color-block-inner{
  width: 86px;
  height: 86px;
  border-radius: 4px;
}
.custom-color-blocks .custom-color-label{
  color: #575252;
  font-size: 16px;
  text-wrap: wrap;
  margin-top: 8px;
  text-align: center;
  max-width: 94px;
}
.custom-color-blocks .custom-color-label.selected{
  font-family: "TESCOModern-Bold", Tahoma, sans-serif;
}

.custom-color-options,
.custom-storage-options,
.custom-select-ui {
  width: 100%;
  padding: 8px 32px 8px 12px;
  border: 1px solid #666666;
  border-radius: 0;
  font-size: 14px;
  background: #fff;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;

  // Custom dropdown arrow for selects
  background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.38' height='10.57' viewBox='0 0 18.38 10.57' fill='none'%3E%3Cpath d='M17.2962 0L9.18413 8.40464L1.07976 0.000249445L0 1.04146L9.18363 10.5651L18.3755 1.04171L17.2962 0Z' fill='%23666666'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
}

.custom-select-ui {
  padding: 0;
  background-image: none;
  height: 38px;

  .custom-select-selected {
    padding: 8px 32px 8px 12px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.38' height='10.57' viewBox='0 0 18.38 10.57' fill='none'%3E%3Cpath d='M17.2962 0L9.18413 8.40464L1.07976 0.000249445L0 1.04146L9.18363 10.5651L18.3755 1.04171L17.2962 0Z' fill='%23666666'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
  }

  .custom-select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 100;
    max-height: 250px;
    overflow-y: auto;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    .selected{
      font-family: 'TESCOModern-Bold',Tahoma,sans-serif;
    }
  }

  &._open {
    border-radius: 4px 4px 0 0;

    .custom-select-options {
      display: block;
    }
  }

  .custom-select-option {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background 0.2s;

    &:hover {
      background: #f0f7ff;
    }

    &.selected {
      background: #e6f2ff;
      font-weight: 600;
    }
  }

  .color-dot,
  .selected-color-dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
  }
}

.color-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

/* ============= DATA PACK SECTION ==============*/
.custom-grid-system {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;

}

.custom-cc-savings {
  display: block !important;
  flex: 0 0 100%;

  .clubcard-stripe {
    display: flex;
    justify-content: flex-start;
    background-color: #fcd700;
    color: #333;
    width: 100%;
    border-radius: 12px;
    margin: 5px 0 28px;
  }

  .clubcard-stripe .clubcard-stripe__logo {
    padding: 0;
    display: flex;
    width: 56px;
    min-height: 56px;
    background-color: #00539f;
    border-radius: 12px 0 0 12px;
    flex: 0 0 56px;
    border-right: 4px solid #fff;
  }

  .clubcard-stripe .clubcard-stripe__logo span {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    font-size: 10px;
    line-height: 1;
    font-weight: 400;
    font-family: 'TESCOModern-Bold', Tahoma, sans-serif;
    background-color: #00539f;
    color: #fff;
  }

  .clubcard-stripe .clubcard-stripe__info {
    font-size: 16px;
    font-weight: 400;
    font-family: 'TESCOModern-Bold', Tahoma, sans-serif;
    display: flex;
    padding: 0 10px;
    line-height: 1.25;
    align-content: center;
    flex-wrap: wrap;
  }
}

.custom-cc-wrapper {

  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;

  .field {
    height: 96px !important;

    .label {
      flex-direction: column !important;
      align-items: start !important;

      .allowance {
        flex-direction: row !important;
        align-items: flex-start !important;
        position: static !important;

        span {
          margin-top: -2px !important;
          margin-left: 4px !important;
        }
      }

      .price {
        .clubcard-price-wrapper {
          .clubcard-price-label {
            display: none;
          }
        }
      }
    }
  }
}

.new-grid-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 20px;

  .field {
    height: 96px !important;

    .label {
      flex-direction: column !important;
      align-items: start !important;
      padding: 12px 12px !important;

      .allowance {
        flex-direction: row !important;
        align-items: flex-start !important;
        position: static !important;

        span {
          margin-top: -2px !important;
          margin-left: 4px !important;
        }
      }

      .price {
        bottom: 12px !important;
        
          .regular-price-wrapper span {
            visibility: hidden;
            position: relative;
            padding: 0 !important;
          }
        
          .regular-price-wrapper span::after {
            content: "/month";
            visibility: visible;
            position: absolute;
            left: 0;
          }
        .clubcard-price-wrapper {
          .clubcard-price-label {
            display: none;
          }
        }
      }
    }
  }
  .choice{
    margin-bottom: 0 !important;
  }
}
.new-grid-section .clubcard-price-wrapper {
  background-color: #fcd700;
  padding: 0 5px;
}

.new-grid-section .clubcard-price-value {
  visibility: hidden;
  padding: 0 !important;
}

.new-grid-section .clubcard-price-value span {
  position: relative;
  visibility: visible;
}

.new-grid-section .clubcard-price-value span::after {
  content: "/month";
  position: absolute;
  left: 113%;
  font-size: 14px;
  font-family: 'TESCOModern-Regular', Tahoma, sans-serif;
}
.option-type-tariff .data-plan-wrapper{
  margin-top: 20px;
}

/* ============= DATA CALCULATOR STYLE ==============*/
.option-type-tariff .field.option .label #tariff-hint{
  font-size: 16px;
  text-decoration: underline;
}
._has-modal .modal-slide {
  max-width: 320px;
}
.data-cal-section {
  margin-top: 20px;
}

.custom-data-calculator {
  padding-bottom: 10px;
  .custom-data-calculator__header-container {
    margin-top: 28px;
    
    h1 {
      color: #00539f;
      font-size: 24px;
      line-height: normal;
      margin: 0 0 8px;
      font-weight: bold;
    }

    .subtitle {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .description {
      font-size: 13px;
      margin-bottom: 20px;
    }
  }

  .custom-data-calculator__content {
    .data-calculator__context {
      flex-basis: 100%;
      margin: 0px !important;
input {
    display: none;
  }

  input.calc__input {
    border-color: #00539f;
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 3px;
    width: 170px;
  }
    }

    .data-calculator__context__row {
      display: flex;
      margin: 12px 0;
      gap: 20px;

      .data-calculator__context__label {
          display: block;
        width: 40%;
        }
        
        .data-calculator__context__values {
          display: flex;
          flex-wrap: wrap;
            width: 100%;
          label {
              display: block;
              width: 50%;
          
              .button {
                text-align: center;
                width: 100%;
                color: #f7f5f5;
                text-decoration: none;
                border: 1px solid transparent;
                background-color: #00539f;
                padding: 10px 0;
                height: auto;
                display: inline-block !important;
                align-self: flex-start;
                cursor: pointer;
                transition: background-color 0.25s;
              }
              .button--alpha {
                  border: 1px solid #d9e5eb;
                  background: #ffffff;
                  color: #00539f;
                  
                }
            }
          }
                    }
  }
}


.custom-data-calculator__content .data-calculator__context__label--layout {
  display: flex;
  align-items: center;
    gap: 5px;
    }

.custom-data-calculator__content .data-calculator__context__values label:first-child .button {
  border-radius: 5px 0 0 0;
  border-bottom: none !important;
}

.custom-data-calculator__content .data-calculator__context__values label:nth-child(2) .button {
  border-bottom: none !important;
    border-radius: 0 5px 0 0 !important;
}

.custom-data-calculator__content .data-calculator__context__values label:nth-child(4) .button {
  border-radius: 0 0 5px 0 !important;
}

.custom-data-calculator__content .data-calculator__context__values label:last-child .button {
  border-top: none !important;
    border-radius: 0 0 5px 5px !important;
}

//ESTIMATION SECTION STYLE
.estimation-section {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.estimation-section .text-part {
  width: 100%;
}

.estimation-section .content-part {
  width: 100%;
}

.estimation-section .content-part p {
  color: #00539F;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
    font-size: 24px;
  }

.tariff-section{
  margin-top: 30px;
}
.tariff-section .tariff-cta-btn{
  width: 100%;
  display: flex;
  justify-content: end;
  // margin-bottom: 20px;
}

.tariff-section .tariff-cta-btn .tariff-btn{
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #00539f;
  color: #fff;
}

.tariff-section p{
  margin: 20px 0;
}

//RECOMMENDED TARIFF SECTION
.recommended-tariff-section {
  display: none;

  .text-part p {
    font-size: 16px;
    font-weight: bold;
  }

  .field.choice input[type=radio] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .field {
    height: 96px !important;

    .label {
      color: #575252;
      font-family: 'TESCOModern-Regular', Tahoma, sans-serif;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
      text-align: center;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      padding: 12px 14px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 10px;
      box-sizing: border-box;
      position: relative;

      .allowance {
        text-align: left;
        display: flex;
        gap: 4px;
        font-size: 20px;
        line-height: 16px;
        font-weight: bold;

        span {
          font-size: 12px;
          font-weight: normal !important;
          margin-top: -2px;
        }
      }

      .price {
        font-size: 16px;
        line-height: 22px;
        right: 10px;
        bottom: 8px;
        position: absolute;

        .regular-price-wrapper {
          font-family: 'TESCOModern-Bold', Tahoma, sans-serif;

          span {
            font-size: 14px;
            font-family: 'TESCOModern-Regular', Tahoma, sans-serif;
            visibility: hidden;
              position: relative;
            }
            
            span::after {
              content: "/month";
              visibility: visible;
              position: absolute;
              right: 0;
          }
        }

        .clubcard-price-wrapper {
          background-color: #fcd700;
          .clubcard-price-label {
            display: none;
          }

          .clubcard-price-value {
            
            padding: 0 5px;
            color: #333;
            font-size: 14px;
            visibility: hidden;

            span {
              font-family: 'TESCOModern-Bold', Tahoma, sans-serif;
              font-size: 16px;
              visibility: visible;
              position: relative;
            }
            span::after{
              content: "/month";
              position: absolute;
              left: 113%;
              font-size: 14px;
              font-family: 'TESCOModern-Regular', Tahoma, sans-serif;
            }
          }
        }
      }
    }
  }
}