.MVT-101-Var_D [data-testid=avis-first-banner-container] {
  display: none;
}
.MVT-101-Var_D .banner-wrapper {
  width: 100%;
  background-color: #191C24;
  display: flex;
  align-items: center;
  gap: 43px;
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 999px) {
  .MVT-101-Var_D .banner-wrapper {
    flex-direction: column;
    gap: 0px;
    margin: 0 15px;
  }
}
.MVT-101-Var_D .banner-wrapper .banner-header {
  position: relative;
  padding: 24px 0px 24px 16px;
  background: #000;
  display: flex;
  flex-direction: column;
}
@media (max-width: 999px) {
  .MVT-101-Var_D .banner-wrapper .banner-header {
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 20px 16px 9px 16px;
    gap: 8px;
  }
}
.MVT-101-Var_D .banner-wrapper .banner-header h4 {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  margin: 0;
  text-wrap: nowrap;
}
.MVT-101-Var_D .banner-wrapper .banner-header p {
  color: #fff;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  font-family: Inter;
  text-wrap: nowrap;
}
@media (max-width: 999px) {
  .MVT-101-Var_D .banner-wrapper .banner-header p {
    margin-top: 6px;
  }
}
.MVT-101-Var_D .banner-wrapper .banner-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: -43px;
  width: 43px;
  height: 100%;
  background: #000;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  transform: rotate(180deg);
}
@media (max-width: 999px) {
  .MVT-101-Var_D .banner-wrapper .banner-header::after {
    right: 0px;
    background: #191C24;
    transform: rotate(0deg);
    top: 23px;
    width: 42px;
    height: 70%;
  }
}
@media (max-width: 391px) {
  .MVT-101-Var_D .banner-wrapper .banner-header::after {
    display: none;
  }
}
.MVT-101-Var_D .banner-wrapper .banner-body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 16px;
}
@media (max-width: 999px) {
  .MVT-101-Var_D .banner-wrapper .banner-body {
    grid-template-columns: repeat(1, 1fr);
    padding: 8px 16px 16px 16px;
  }
}
.MVT-101-Var_D .banner-wrapper .banner-body .banner-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.MVT-101-Var_D .banner-wrapper .banner-body .banner-item .banner-item-desc {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
}
@media (max-width: 999px) {
  .MVT-101-Var_D .banner-wrapper .banner-body svg:not(.mvt-101-sm-svg) {
    display: none;
  }
}
@media (min-width: 1000px) {
  .MVT-101-Var_D .banner-wrapper .banner-body svg.mvt-101-sm-svg {
    display: none;
  }
}
.MVT-101-Var_D .avis-first-banner-card {
  position: relative;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background: #191C24;
  box-sizing: border-box;
}
@media (max-width: 999px) {
  .MVT-101-Var_D .avis-first-banner-card {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.MVT-101-Var_D .avis-first-banner-card .card-header {
  background-color: #000;
  padding: 27.5px 24px;
  border-radius: 12px 12px 0 0;
  color: #fff;
}
.MVT-101-Var_D .avis-first-banner-card .card-header h4 {
  font-family: "Avis Sans";
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  text-wrap: nowrap;
}
.MVT-101-Var_D .avis-first-banner-card .card-header p {
  margin: 0;
  margin-top: 16px;
}
.MVT-101-Var_D .avis-first-banner-card .card-header p span.with-text {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
  margin-right: 4px;
}
.MVT-101-Var_D .avis-first-banner-card .card-body {
  padding: 0px 24px;
  height: 100%;
  border-radius: 0 0 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 999px) {
  .MVT-101-Var_D .avis-first-banner-card .card-body {
    gap: 40px;
    padding: 63.5px 24px;
  }
}
.MVT-101-Var_D .avis-first-banner-card .card-body .card-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.MVT-101-Var_D .avis-first-banner-card .card-body .card-item .card-item-desc {
  color: #fff;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}