.MVT-85-Var_D {
  svg.mvt-85-info-icon {
    width: 12px !important;
    height: 12px !important;
    min-width: 12px !important;
    min-height: 12px !important;
    flex-shrink: 0 !important;
  }

  #booking-widget #booking-widget-desktop-form [data-testid="drivers-age-dropdown"] {
    color: #8B8686;
    font-weight: 500;

    #mui-component-select-ageSelect {
      padding-right: 28px !important;
      font-size: 14px !important;
    }

    svg:not(.mvt-85-info-icon) {
      width: 12px;
      height: 12px;
      top: 7px;

      path {
        stroke: #524D4D;
        stroke-width: 0.2;
      }
    }

    @media only screen and (max-width: 1152px) {
      svg:not(.mvt-85-info-icon){
        top: 17px
      }
    }

    svg.not-home {
      top: 6px !important;
    }

    .age-tooltip {
      left: 86%;
    }
  }

  #booking-widget #booking-widget-desktop-form [data-testid="drivers-age-dropdown"]:hover{
    color: #000 !important;
  }

  #booking-widget #booking-widget-desktop-form [data-testid="drivers-age-dropdown"] svg.mvt-85-info-icon {
    position: absolute;
    right: 12px !important;
    top: 5px;
    cursor: pointer;

    &:hover {
      path {
        fill: #000;
      }
    }
    
      
  }

  @media only screen and (max-width: 1152px) {
    #booking-widget #booking-widget-desktop-form [data-testid="drivers-age-dropdown"] svg.mvt-85-info-icon{
      top: 16px;
    }
  }

  #booking-widget #booking-widget-desktop-form [data-testid="drivers-age-dropdown"]:hover svg.mvt-85-info-icon {
    path {
      fill: #000;
    }
  }

  #booking-widget #booking-widget-desktop-form [data-testid="drivers-age-dropdown"] svg.mvt-85-info-icon:hover+.mvt-85-tooltip {
    opacity: 1;
    visibility: visible;
  }

  #booking-widget #booking-widget-desktop-form [data-testid="residency-dropdown-button"] {
    color: #8B8686;
    font-weight: 500;

    span {
      font-size: 14px !important;
    }

    span.MuiButton-icon {
      margin-top: -3px;
    }

    svg:not(.mvt-85-info-icon) {
      width: 12px;
      height: 12px;

      path {
        stroke: #524D4D;
        stroke-width: 0.2;
      }
    }

    svg.mvt-85-info-icon {
      margin-left: 4px;
    }

    svg.mvt-85-info-icon:hover {
      path {
        fill: #000;
      }
    }

    span.MuiButton-icon {
      margin-left: 4px;
      margin-top: 2px;
    }

    svg.mvt-85-info-icon:hover+.mvt-85-tooltip {
      opacity: 1;
      visibility: visible;
    }

    svg.not-home {
      margin-top: 0px !important;
    }

    .residency-tooltip {
      left: 86%;
    }

    &:hover{
      color: #000 !important;
    }
  }

  #booking-widget #booking-widget-desktop-form [data-testid="wizard-number-popup-trigger-button"] {
    p {
      color: #8B8686;
      font-weight: 500;
      font-size: 14px !important;
    }

    svg.MuiSvgIcon-root {
      color: #736D6D;
      margin-left: 4px;
    }

    svg.mvt-85-info-icon {
      margin-left: 4px;
    }

    svg.mvt-85-info-icon:hover {
      path {
        fill: #000;
      }

      +.mvt-85-tooltip {
        opacity: 1;
        visibility: visible;
      }
    }

    .wizard-tooltip {
      left: 86%;
    }

    &:hover{
      p {
        color: #000 !important;
      }
      svg.MuiSvgIcon-root {
        color: #000 !important;
      }
    }
  }

  [data-testid="wizard-number-popup-trigger-button"]:hover {
    p {
      color: #000;
    }

    svg.MuiSvgIcon-root {
      color: #000;
    }
  }

  //discount
  #booking-widget #booking-widget-desktop-form [data-testid="discount-coupon-popup-trigger-button"] {
    p:not(.mui-1i5m7g4) {
      color: #8B8686;
      font-weight: 500;
      font-size: 14px !important;
    }

    p.mui-1i5m7g4 {
      font-size: 14px !important;
    }

    svg.MuiSvgIcon-root {
      color: #736D6D;
      margin-left: 4px;
    }

    svg.mvt-85-info-icon {
      margin-left: 4px;
    }

    svg.mvt-85-info-icon:hover {
      path {
        fill: #000;
      }

      +.mvt-85-tooltip {
        opacity: 1;
        visibility: visible;
      }
    }

    &:hover {
      p:not(.mui-1i5m7g4) {
        color: #000;
      }

      svg.MuiSvgIcon-root {
        color: #000;
      }

      svg.mvt-85-info-icon {
        path {
          fill: #000;
        }
      }
    }

    .discount-tooltip {
      left: 80%;
    }
  }

  [data-testid="recognized-state-logout"] {
    margin-left: 1px !important;
  }

  //tooltip
  .mvt-85-tooltip::before {
    content: "";

    position: absolute;

    top: -6px;
    left: 50%;

    transform: translateX(-50%);

    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #4b4545;
  }

  .mvt-85-tooltip {
    position: absolute;
    top: 29px;
    left: 87%;
    transform: translateX(-50%);
    width: 275px;
    max-width: 300px;
    background-color: rgba(57, 54, 54, 0.92);
    color: rgb(255, 255, 255);
    font-size: 0.6875rem;
    font-weight: 500;
    line-height: 16px;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
    z-index: 9999;
    pointer-events: none;
    box-sizing: border-box;
    overflow-wrap: break-word;
    text-wrap: auto;
  }

  @media only screen and (max-width: 1152px) {
    .mvt-85-tooltip{
      left: 88% !important;
      top: 39px;
    }
  }

  [data-testid="residency-dropdown-menu-container"]:last-child>div {
    background-color: #fff !important;
    border-radius: 0 0 4px 4px !important;
  }

  [data-testid="residency-dropdown-button"], [data-testid="drivers-age-dropdown"] {
    margin-right: 10px;
  }

}